<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="student" class="CollectionDemo.Student">
		<property name="name" value="Jai" />
		<property name="rollNo" value="MCA/07/06" />
		<property name="className" value="MCA" />
		<constructor-arg>
			<list>
				<ref bean="address1" />
				<ref bean="address2" />
			</list>
		</constructor-arg>
	</bean>

	<bean id="address1" class="CollectionDemo.Address">
		<property name="addLine" value="Test address1" />
		<property name="city" value="Gurgaon" />
		<property name="state" value="Haryana" />
		<property name="country" value="India" />
	</bean>

	<bean id="address2" class="CollectionDemo.Address">
		<property name="addLine" value="Test address2" />
		<property name="city" value="Panipat" />
		<property name="state" value="Haryana" />
		<property name="country" value="India" />
	</bean>

</beans>